// main colors
$hoppnOrange: #f15a29;
$darkCharcoal: #333333;
$white: #ffffff;
$black: #000000;

// secondary colors
$savannahRed: #e94b2d;
$goldenYellow: #ffab27;
$pearlAqua: #6ed0c3;
$lightGreen: #9ec654;

//color gradients
$savannah-red-gradient: linear-gradient(240deg, #e94b2d, #ffab27);
$golden-yellow-gradient: linear-gradient(180deg, #ffab27, #9fc654);
$light-green-gradient: linear-gradient(180deg, #9fc654, #6ed0c3);
$rich-black-gradient: linear-gradient(180deg, #000000, #e94b2d);

//other colors
$gray: #6c7883;
$middlegray: #8d99a5;
$lightgray: #e9e8e8;
$lightestgray: #6c7883;
$darktgray: #43484e;
$darkestgray: #17212b;

// errors colors
$error: #d32f2f;
